@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: darkviolet;
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button, input[type = "submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}