@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button, input[type = "submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* for mobile */

@media screen and (max-width: 550px) {
    #header .title  {
        font-size: 1.2rem;
    }

    #header .options button {
        padding: 0 0.5rem;
        font-size: 0.9rem;
    }
}